<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black">
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" href="#"
      >Brooklyn <b>FireHouse</b> Pizza</a
    ></mdb-navbar-brand
  >

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect
          >Home<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Locations</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          Menu<span class="caret"></span
        ></a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown dropdown-primary"
          role="menu"
        >
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Pizza</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Pasta</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Salad</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Wings</a>
        </div>
      </li>
    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" />
      </div>
    </form>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
<div class="row">
  <div class="col-md-12">

    <!-- Stepers Wrapper -->
    <ul class="stepper stepper-horizontal">

      <!-- First Step -->
      <li class="warning">
        <a href="#!">
          <span class="circle">1</span>
          <span class="label"><h1>Sign Up</h1><i class="fas fa-sign-in-alt"></i></span>
        </a>
      </li>

      <!-- Second Step -->
      <li class="warning">
        <a href="#!">
          <span class="circle">2</span>
          <span class="label"><h1>Order</h1><i class="fas fa-pizza-slice"></i></span>
        </a>
      </li>

      <!-- Third Step -->
      <li class="warning">
        <a href="#!">
          <span class="circle">3</span>
          <span class="label"><h1>Deliver</h1><i class="fas fa-truck"></i></span>
        </a>
      </li>

    </ul>
    <!-- /.Stepers Wrapper -->

  </div>
</div>

<div class="bg">
  <!-- Horizontal Steppers -->

<!-- /.Horizontal Steppers -->
</div>

<p class="py-5 text-center">What's a pizza without fire?</p>

<div class="card-deck">
  <!-- Card -->
  <mdb-card dark="true">
    <div class="view overlay waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="/assets/images/pie2.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body class="elegant-color white-text">
      <!--Title-->
      <mdb-card-title>
        <h4>Pizza</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </mdb-card-text>

      <a href="#" mdbBtn color="red" mdbWavesEffect>View All</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card dark="true">
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="assets/images/wings.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body class="elegant-color white-text">
      <!--Title-->
      <mdb-card-title>
        <h4>Wings</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </mdb-card-text>

      <a href="#" mdbBtn color="red" mdbWavesEffect>View All</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card dark="true">
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="/assets/images/pasta.jpg" alt=""></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body class="elegant-color white-text">
      <!--Title-->
      <mdb-card-title>
        <h4>Pasta</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </mdb-card-text>

      <a href="#" mdbBtn color="red" mdbWavesEffect>View All</a>
    </mdb-card-body>
  </mdb-card>
</div>

<div class="card-deck">
  <!-- Card -->
  <mdb-card dark="true">
    <div class="view overlay waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="/assets/images/club.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body class="elegant-color white-text">
      <!--Title-->
      <mdb-card-title>
        <h4>Club Sandwiches</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </mdb-card-text>

      <a href="#" mdbBtn color="red" mdbWavesEffect>View All</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card dark="true">
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="assets/images/bread.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body class="elegant-color white-text">
      <!--Title-->
      <mdb-card-title>
        <h4>Breadsticks</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </mdb-card-text>

      <a href="#" mdbBtn color="red" mdbWavesEffect>View All</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card dark="true">
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="/assets/images/salad2.jpg" alt=""></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body class="elegant-color white-text">
      <!--Title-->
      <mdb-card-title>
        <h4>Salad</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </mdb-card-text>

      <a href="#" mdbBtn color="red" mdbWavesEffect>View All</a>
    </mdb-card-body>
  </mdb-card>
</div>

<div class="card-deck">
  <!-- Card -->
  <mdb-card dark="true">
    <div class="view overlay waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="/assets/images/beer.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body class="elegant-color white-text">
      <!--Title-->
      <mdb-card-title>
        <h4>Beer</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </mdb-card-text>

      <a href="#" mdbBtn color="red" mdbWavesEffect>View All</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card dark="true">
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="assets/images/soft drinks.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body class="elegant-color white-text">
      <!--Title-->
      <mdb-card-title>
        <h4>Soft Drinks</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </mdb-card-text>

      <a href="#" mdbBtn color="red" mdbWavesEffect>View All</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card dark="true">
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="/assets/images/desserts.jpg" alt=""></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body class="elegant-color white-text">
      <!--Title-->
      <mdb-card-title>
        <h4>Desserts</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </mdb-card-text>

      <a href="#" mdbBtn color="red" mdbWavesEffect>View All</a>
    </mdb-card-body>
  </mdb-card>
</div>



